<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="UTF-8">
  <link rel="icon" href="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/344/external-dormitory-city-buildings-smashingstocks-flat-smashing-stocks.png">

  <script th:src="@{scripts/burgermenu.js}"></script>

</head>
<body>
<header th:fragment="header">
  <!--Menu-->
  <div class="menu">
    <!--Burgermenu-->
    <div class="iconburger" onclick="burgermenuFunction(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>

    <!--Menubar-->
    <div id="menubarlinks">
      <ul class="menubar">
        <li class="menufield">
          <a class="menulink" th:href="@{/home}" title="domov">Oznamy</a>
        </li>

        <li class="menufield">
          <a class="menulink" th:href="@{/charges}" title="poplatky">Poplatky</a>
        </li>

        <li class="menufield">
          <a class="menulink" th:href="@{/contacts}" title="kontakt">Kontakty</a>
        </li>

        <li class="menufield" id="reservefield">
          <a class="menulink" th:href="@{/reservation}" title="rezervácia">Rezervácia</a>
        </li>

        <th:block sec:authorize="!isAuthenticated()">
        <li class="menufield">
          <a class="menulink" th:href="@{/login}" title="Prihlásenie">Prihlásiť sa</a>
        </li>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
        <li class="menufield">
          <a class="menulink" th:href="@{/logout}" title="Odhlásenie">Odhlásiť sa</a>
        </li>
        </th:block>
      </ul>
    </div>
  </div>
  <!--Header image-->
  <!--TODO: striedanie obrazkov a ich prepinanie-->
  <div class="headerimagebar">
    <img class="headerimage" src="../static/pictures/headerpicture.jpg" th:src="@{/pictures/headerpicture.jpg}" alt="error" loading="lazy">
  </div>
</header>
</body>
</html>