<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="headerofpage" class="headmain">
    <!--Searchbar-->
    <div class="searchbar">
        <label>
            <input type="text" placeholder="Hladať...">
        </label>
        <img class="iconsearch" src="https://www.seekpng.com/png/detail/958-9588716_buscar-buscarlogo-buscador-lupalogo-lupa-search-icon-search.png" alt="error" loading="lazy">
    </div>

    <!--Title of page-->
    <h1 class="title" id="title"></h1>
    <hr class="headerbreak">
</div>
</body>
</html>