<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="300">

    <title>Internáty</title>

    <link th:href="@{~/styles/mainstyle.css}" rel="stylesheet" />


    <link rel="icon" href="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/344/external-dormitory-city-buildings-smashingstocks-flat-smashing-stocks.png">

    <script th:src="@{~/scripts/burgermenu.js}"></script>
</head>
<body>

</body>
</html>