<!DOCTYPE html>
<html lang="sk" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="menu-head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="refresh" content="300">

  <title>Internáty - Internátny rezervačný systém</title>

  <link th:href="@{~/styles/style.css}" rel="stylesheet"/>

  <link rel="icon" href="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/344/external-dormitory-city-buildings-smashingstocks-flat-smashing-stocks.png">

  <script th:src="@{~/scripts/burgermenu.js}"></script>
  <script th:src="@{~/scripts/dropdown.js}"></script>
  <script th:src="@{~/scripts/tinymce/tinymce.min.js}"></script>
  <script th:src="@{~/scripts/tinymceInit.js}"></script>

  <script defer th:src="@{~/scripts/registerValidator.js}"></script>
  <script type="text/javascript" src="http://localhost:8080/webjars/jquery/3.2.0/jquery.min.js"></script>
  <script th:src="@{~/scripts/universities.js}"></script>
  <script th:src="@{~/scripts/editor.js}"></script>

</head>
<body>
<header th:fragment="menu">
  <div class="header">
    <!--Burgermenu-->
    <div class="iconburger" onclick="burgermenuFunction2(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>

    <form method="get" class="profile" th:object="${userlogged}">
      <a class="menulinkdropper" onclick="dropdown('drop2')">
        <span th:if="*{firstname != '' && surname != ''}" class="profilename" th:text="*{firstname + ' ' + surname}"></span>
        <span th:if="*{firstname == '' || surname == ''}" class="profilename">Account</span>
      </a>
      <div class="menudropprofile" id="drop2">
        <a th:href="@{/profile}" class="menulinkdrop">Profil</a>
        <a th:href="@{/logout}" class="menulinkdrop">Odhlásiť sa</a>
      </div>
    </form>
  </div>

  <!--Menubar-->
  <div id="menubarlinks">
    <div class="menubars">
      <img class="headerimage" th:src="@{/pictures/unizalogo.png}" alt="error" loading="lazy">
      <a class="menulink" th:href="@{/home}">Oznamy</a>
      <a class="menulink" th:href="@{/spotrebice}" style="display: none">Spotrebiče</a>
      <a class="menulinkdropper" onclick="dropdown('drop1')" style="display: none">Rezervácia</a>
      <div class="menudrop" id="drop1">
        <a th:href="@{/reservation/room}" class="menulinkdrop">Rezervovať izbu</a>
        <a th:href="@{/reservation/studyroom}" class="menulinkdrop">Rezervovať študovňu</a>
      </div>
      <a class="menulink" th:href="@{/users}" sec:authorize="hasAnyAuthority('Admin', 'Mod')">Užívatelia</a>
      <a class="menulink" th:href="@{/articles}" sec:authorize="hasAnyAuthority('Admin', 'Mod')">Články</a>
      <a class="menulink" th:href="@{/settings}" sec:authorize="hasAuthority('Admin')">Nastavenia</a>
  </div>
  </div>
</header>
</body>
</html>