<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/menu :: menu-head"></head>

<body>
<!--Header of page-->
<header th:replace="fragments/menu :: menu"></header>
<main>
    <!--Text area for page-->
    <div class="pagetext">
        <form method="get" role="form" th:object="${user}">
            <h1 class="title">Profil užívateľa <span th:text="*{firstname + ' ' + surname + ' (' + username + ')'}"></span></h1>

            <div th:if="${param.edit_success}" class="info accepted">
                <p>Údaje boli úspešne zmenené.</p>
            </div>

            <input type="hidden" id="id" th:value="*{id}" readonly="readonly">

            <div class="profileform">
                <label class="profiletext" for="uname">Užívateľské meno</label>
                <input class="profileinput" id="uname" type="text" th:value="*{username}" readonly="readonly"/>
            </div>

            <div class="profileform">
                <label class="profiletext" for="email">E-mail</label>
                <input class="profileinput" id="email" type="email" th:value="*{mail}" readonly="readonly"/>
            </div>

            <div class="profileform">
                <label class="profiletext" for="fname">Meno</label>
                <input class="profileinput" id="fname" type="text" th:value="*{firstname}" readonly="readonly"/>
            </div>

            <div class="profileform">
                <label class="profiletext" for="sname">Priezvisko</label>
                <input class="profileinput" id="sname" type="text" th:value="*{surname}" readonly="readonly"/>
            </div>

            <div class="profileform">
                <label class="profiletext" for="university">Univerzita</label>
                <input class="profileinput" id="university" type="text"  th:if="*{faculty != null}" th:value="*{faculty.university.nameUniversity}" readonly="readonly"/>
                <input class="profileinput" id="university" type="text"  th:if="*{faculty == null}" readonly="readonly"/>
            </div>

            <div class="profileform">
                <label class="profiletext" for="faculty">Fakulta</label>
                <input class="profileinput" id="faculty" type="text" th:if="*{faculty != null}" th:value="*{faculty.name}" readonly="readonly"/>
                <input class="profileinput" id="faculty" type="text" th:if="*{faculty == null}" readonly="readonly"/>
            </div>

            <div class="profileform">
                <label class="profiletext" for="role">Rola</label>
                <input class="profileinput" id="role" type="text" th:value="*{role.get(0).name}" readonly="readonly"/>
            </div>
        </form>

        <!--Edit and Delete buttons-->
        <div class="profilebuttons">
            <a id="update2" th:href="@{'/user/' + ${username} + '/edit'}">
                <button class="profilebutton" th:href="@{'/user/' + ${username} + '/edit'}">Upraviť</button>
            </a>

            <form method="get" th:action="@{'/user/' + ${username} + '/delete'}">
                <button class="profilebutton" id="delete" type="submit">Odstrániť</button>
            </form>
        </div>
    </div>
    </div>
</main>
</body>
</html>