<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head"></head>

<body onload="pagename()">
<header th:replace="fragments/header :: header"></header>
<main>
  <!--Header of page-->
  <div th:replace="fragments/headofpage :: headerofpage"></div>
  <!--Text area for page-->
  <div class="pagetext">
    <div class="subarea">
      <form method="post" role="form" th:action="@{/profile-edit/save}" th:object="${user}" onsubmit="canSubmit()">
        <div class="info">
          <p>&nbsp</p>
        </div>

        <input type="hidden" id="id" th:value="*{id}" th:field="*{id}" readonly>
        <input class="logininput" id="pwold" type="text" th:value="*{password}" th:field="*{password}" hidden>

        <div class="loginform">
          <label class="logintext" for="uname">Užívateľské meno</label> <br>
          <input class="logininput" id="uname" name="uname" type="text" th:value="*{username}" th:field="*{username}" readonly/>
          <p class="error2" id="errorUsername"></p>
        </div>

        <div class="loginform">
          <label class="logintext" for="email">E-mail</label> <br>
          <input class="logininput" id="email" name="email" type="email" th:value="*{mail}" th:field="*{mail}" required />
          <p class="error2" th:errors = "*{mail}" th:if="${#fields.hasErrors('mail')}"></p>
          <p class="error2" id="errorEmail"></p>
        </div>

        <div class="loginform">
          <label class="logintext" for="fname">Meno</label> <br>
          <input class="logininput" id="fname" name="fname" type="text" th:value="*{firstname}" th:field="*{firstname}" />
          <p class="error2" th:errors = "*{firstname}" th:if="${#fields.hasErrors('firstname')}"></p>
          <p class="error2" id="errorFirstname"></p>

        </div>

        <div class="loginform">
          <label class="logintext" for="sname">Priezvisko</label> <br>
          <input class="logininput" id="sname" name="sname" type="text" th:value="*{surname}" th:field="*{surname}" />
          <p class="error2" th:errors = "*{surname}" th:if="${#fields.hasErrors('surname')}"></p>
          <p class="error2" id="errorSurname"></p>

        </div>

        <div class="loginform">
          <label class="logintext" for="university">Univerzita</label> <br>
          <input class="logininput" id="university" type="text"  th:if="*{faculty != null}" th:value="*{faculty.university.nameUniversity}" disabled/>
          <input class="logininput" type="text"  th:if="*{faculty == null}" disabled/>
        </div>

        <div class="loginform">
          <label class="logintext" for="faculty">Fakulta</label> <br>
          <input class="logininput" id="faculty" type="text" th:if="*{faculty != null}" th:value="*{faculty.name}" disabled/>
          <input class="logininput" type="text" th:if="*{faculty == null}" disabled/>
        </div>

        <div class="loginform">
          <ul class="menubar">
            <li class="menufield">
              <button class="menulink" id="registerbutton" type="submit">Uložiť</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</main>
</body>
</html>