<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head"></head>
  <body onload="pagename()">
    <!--Header-->
    <header th:replace="fragments/header :: header"></header>

    <!--Body of page-->
    <main>
        <!--Header of page-->
       <div th:replace="fragments/headofpage :: headerofpage"></div>

       <!--Text area for page-->
        <div class="pagetext">
          <!--Subarea-->
          <div class="subarea">
            <h2 class="subtitle"><img class="icon" src="https://img.icons8.com/sf-black-filled/452/home.png" alt="error" loading="lazy">Adresa</h2>
            <p class="subtext">
              Ubytovacie zariadenie Veľký Diel <br>
              Žilinská univerzita v Žiline<br>
              Vysokoškolákov 20<br>
              010 08 Žilina
            </p>
          </div>

          <!--Subarea-->
          <div class="subarea">
            <h2 class="subtitle"><img class="icon" src="https://img.icons8.com/sf-black-filled/344/google-maps-new.png" alt="error" loading="lazy">GPS súradnice</h2>
            <p class="subtext">
              49° 12' 33.27'' <br>
              18° 45' 28.40''
            </p>
          </div>

          <!--Subarea-->
          <div class="subarea">
            <h2 class="subtitle"><img class="icon" src="https://img.icons8.com/sf-black-filled/344/bus.png" alt="error" loading="lazy">Spôsob dopravy</h2>
            <p class="subtext">
              Linkou MHD najbližšou zástavkou je „Internátna“ dostupná linkou č.30. <br>
              Približne 10 minút pešo od ubytovacieho zariadenia sa nachádza zástavka „Obchodná“, cez ktorú premávajú linky MHD č. 1, 4, 5, 6, 7, 14, 20 a 50 (nočný spoj).
            </p>
          </div>

          <!--Subarea-->
          <div class="subarea">
            <h2 class="subtitle"><img class="icon" src="https://img.icons8.com/sf-black-filled/452/cell-phone.png" alt="error" loading="lazy">Telefón</h2>
            <p class="subtext">
              +421 999 999 999
            </p>
          </div>

          <!--Subarea-->
          <div class="subarea">
            <h2 class="subtitle"><img class="icon" src="https://img.icons8.com/sf-black-filled/344/email.png" alt="error" loading="lazy">E-mail</h2>
            <p class="subtext">
              hanko@stud.uniza.sk
            </p>
          </div>

          <div class="subarea">
            <h2 class="subtitle"><img class="icon" src="https://img.icons8.com/sf-black-filled/344/map.png" alt="error" loading="lazy">Mapa</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d651.635103539379!2d18.758090533768407!3d49.209277442557195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4714594ef10f1795%3A0xb209dc29d089d06b!2sUbytovacie%20zariadenie%20Ve%C4%BEk%C3%BD%20Diel!5e0!3m2!1ssk!2ssk!4v1665852233426!5m2!1ssk!2ssk" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>

        </div>
    </main>

    <!--Footer-->
    <footer th:replace="fragments/footer :: footer">
    </footer>
  </body>
</html>

<!--
fb: https://www.facebook.com/InternetKlubUNIZA
-->