<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head"></head>
<body onload="pagename()">
<!--Header-->
<header th:replace="fragments/header :: header"></header>

<!--Body of page-->
<main>
    <!--Header of page-->
    <div th:replace="fragments/headofpage :: headerofpage"></div>

    <!--Text area for page-->
    <div class="pagetext">
        <div class="subarea">
            <div class="articledate" th:text="${article.getDate()}">
            </div>

            <p class="articletext" th:text="${article.getText()}">
            </p>

            <div sec:authorize="hasAuthority('Admin')" class="articlemore">
                <a th:href="@{'/article/edit/'+${article.getTitle()}}"  >[Upraviť]</a>
            </div>

            <div class="articlemore" sec:authorize="hasAuthority('Admin')">
                <a th:href="@{'/article/delete/'+${article.getTitle()}}"  >[Vymazať]</a>
            </div>

            <div class="articleauthor">
                autor:
                <p class="articleauthorname" th:text="${article.getUser().getFirstname()}"></p>
                <p class="articleauthorname" th:text="${article.getUser().getSurname()}"></p>
            </div>
        </div>
    </div>
</main>
</body>
</html>