* {
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    position: relative;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.menu,
footer {
    background-color: #393939;
    font-size: 13pt;
}

.loginform .menubar,
.menubar {
    margin: 0 20.5%;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.menufield {
    margin-right: 5px;
}

.menuburgericon {
    display: none;
}

.menu .menufield:nth-last-child(2) {
    margin-right: 0;
}

.menufield .menulink {
    cursor: pointer;
    display: block;
    margin: 3px 0;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 17px;
    color: black;
}


.menufield .menulink {
    background-color: gray;
}
.menufield .menulink,
.title,
.articletitle {
    font-weight: bold;
}

.headerbreak {
    background-color: lightgray;
    height: 1px;
    width: 100%;
}

body,
.menufield .menulink:hover {
    background-color: lightgray;
}

.menufield .menulink {
    transition: 500ms;
}

.menufield .menulink:active {
    background-color: darkgray;
}

#reservefield .menulink {
    background-color: darkgreen;
}

#reservefield .menulink:hover {
    background-color: green;
}

#reservefield .menulink:active {
    background-color: forestgreen;
}

#reservefield .menulink {
    color: rgba(207, 208, 214, 0.90);
}

.headerimage {
    width: 60%;
}

.headerimage,
main {
    margin: 0 20%;
}

.headmain {
    height: 75px;
    margin: 0 2.5%;
}

.title {
    font-size: 24pt;
    margin: 10px 0;
}
.title,
.subtitle {
    text-transform: uppercase
}

.searchbar {
    margin-top: 25px;
}

input:focus {
    outline: 1px dotted;
}

.iconsearch {
    margin-top: 1px;
    margin-left: 4px;
    width: 15px;
}

.title,
.menufield,
.articletitle,
.icon {
    float: left;
}

.searchbar,
.menu .menufield:last-child,
.menu .menufield:nth-last-child(2),
.articledate,
.articleauthor,
.copyright {
    float: right;
}

.news {
    padding-bottom: 1px;
}

article {
    background-color: #e2e2e2;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.articletitle {
    font-size: 16pt;
    margin-left: 7px;
}

.articledate,
.articleauthor,
.articlemore a {
    color: gray;
    background: unset;
}

.articletext {
    font-size: 13pt;
    margin: 45px 0 15px 0;
}

article .articleauthor {
    margin-top: -18px;
    display: inline;
}


footer {
    bottom: 0;
    width: 100%;
    color: whitesmoke;
}

.copyright {
    margin: 0 20.5%;
}

.articles {
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-columns: 100%;
    min-width: 50%;
}

.loginform .menubar {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.articleauthorname {
    display: inline;
}

@media only screen and (max-width: 599px) {
    .menu {
        position: relative;
        overflow: hidden;
    }

    .iconburger {
        margin-left: 6px;
        width: 35px;
        float: left;
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .menu #menubarlinks {
        display: none;
        transition: 3s ease;
    }

    .menuburgericon {
        display: block;
        margin: 5px;
        left: 0;
    }

    .menubar {
        display: grid;
        grid-template-columns: auto;
    }

    .menufield,
    .menu .menufield:nth-last-child(2),
    .menu .menufield:last-child{
        margin: 0 20px;
    }

    .title,
    .subtitle {
        width: 60%;
    }

    .loginform .menubar {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 999px) {
    .menubar,
    .copyright {
        margin: 0 5px;
    }

    .headerimage {
        width: 100%;
    }

    .headerimage,
    main {
        margin: 0;
    }
}

@media only screen and (min-width: 700px) {
    .articles {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1099px) {
    .articles {
        grid-template-columns: 100%;
    }

    .loginform .menubar {
        grid-template-columns: auto auto;
    }
}

main {
    background-color: whitesmoke;
    margin-top: -5px;
}

.subarea {
    margin: 5px 3.5%;
    padding: 5px;
}

.icon {
    margin: 4px 4px;
    height: 18px;
}

iframe {
    border:  0;
    width: 100%;
    height: 500px;
}

table, th, td {
    border:1px solid black;
}

table {
    width: 100%;
}

td {
    padding: 5px 10px;
}

.loginform {
    text-align: center;
    margin-top: 10px;
}

.loginform .break {
    margin-top: 30px;
}

.loginform .menubar .menufield {
    white-space: nowrap;
    margin: 0 30px;
}

.logintext {
    font-size: 15pt;
}

.logininput {
    margin-top: 5px;
    font-size: 12pt;
}

#delete {
    background: darkred;
}

#delete:hover {
    background: red;
}

.error2 {
    color: #530000;
}